.results-list {
    width: calc(60vw + 100px);
    min-width: 300px;
    max-width: 700px;
    background-color: red;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 7rem;
    transform: translate(-50%, 3rem);
    z-index: 100;
    max-height: 300px;
    overflow-y: scroll;
}

.search-result {
    padding: 10px 20px;
}

.search-result:hover {
background-color: #efefef;
}