* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.App {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("https://res.cloudinary.com/devqm7qmb/image/upload/v1694816458/jack-b-bOfCH9TnRg4-unsplash_ulgbrq.jpg");
  background-size: auto; 
  background-repeat: repeat;
}

.spaceX-title {
  color: #ededed;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.card {
  margin: 1rem;
}

