* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.spaceX-title {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.launch-results, .row-buttons {
  /* position: absolute; */
  /* top: 10%; */
  background-color: red;
}

